<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    
    <link rel='stylesheet' href='style.css'>
</head>
<body>
    <div id='app' data-app>
        <div id='tablet' v-show='opened'> 
            <div class='tablet-container'>
                <div class='page' id='main' v-if='currentPage == "main"'>
                    <div class='misc'>
                        <div class='widget'>
                            <p>{{ Calendar.day }}</p>
                            <h1>{{ Calendar.date }}</h1>
                            <h2>No Events for today</h2>
                        </div>
                        <div class='crypto'>
                            <h1>Crypto</h1>
                            <p>Most popular crypto currencies</p>
                            <div class='list' v-for='coin in Crypto'>
                                <div class='currency'>
                                    <h1><img v-bind:src='coin.icon'/> {{ coin.name }}</h1>
                                    <p>{{ coin.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class='apps'>
                        <div class='application' v-for='app in Applications' @click='switchPage(app.href)'>
                            <div class='content' v-bind:id='app.href'>
                                <img v-bind:src='app.icon' />
                            </div>
                            <h1>{{ app.name }}</h1>
                        </div>
                    </div>
                </div>

                <div class='page' id='info' v-if='currentPage == "info"'>
                    <div class='content'>
                        <h1>Don't know what to do? Maybe these pages will help you.</h1>
                        <br>
                        <p></p>
                        <br>
                        <h1>FAQ</h1>
                        <br>
                        <p>
                            <b class='subtitle'>I'm new here. What do I do?</b><br>
                            If you just spawned in, try using the Car Rental. You will find this in Leigon Square. On the map, it will be a purple car blip. You can rent a vehicle from him to get around. He will give you Rental Papers, so if you get pulled over then you have proof that the vehicle is yours.
                            It might help for you to go directly to the DMV and get your license.
                        </p>
                        <br>
                        <p>
                            <b class='subtitle'>I got my License, Now what do I do?</b><br>
                            We have many Civilian jobs out there. Making money should be easy. See a vehicle in the vehicleshop thats got your eye? Don't have enought money for it? You can finance it, if that's not what you're looking for then Doing the various jobs or other money making activites around the city will give you enough money to get that vehicle. Make sure you return that Rental Vehicle though.
                        </p>
                        <br>
                    </div>
                </div>

                <div class='page' id='keybinds' v-if='currentPage == "keybinds"'>
                    <div class='content'>
                        <h1>Keybinds</h1>
                        <br>
                        <p><b>[K]</b> - Menu</p>
                        <p><b>[N]</b> - Talk</p>
                        <p><b>[M]</b> - Phone</p>
                        <p><b>[F11]</b> - Change Voice Range</p>
                        <p><b>[CAPS]</b> - Talk on Radio(must have radio and be connected to channel)</p>
                    </div>
                </div>
                
                <div class='page' id='commands' v-if='currentPage == "commands"'>
                    <div class='content'>
                        <h1>COMMANDS</h1>
                        <p><b>/911 "message"</b> - Dispatch PD to your location. "message" - Helpful information for PD to know.</p>
                        <p><b>/911a "message"</b> - Dispatch PD to a location anonymously. "message" - Helpful information for PD to know.</p>
                        <p><b>/911ems "message"</b> - Dispatch EMS to a location. "message" - Helpful information for EMS to know.</p>
                        <p><b>/mechanic "message"</b> - Dispatch a Mechanic to a location. "message" - Helpful information for the Mechanic to know.</p>
                        <p><b>/e "emote"</b> - Start an emote. "emote" - Emote your trying to use.</p>
                        <p><b>/emotemenu</b> - Opens Emote Menu. If you can't find the emote you're looking for using /e this is a good alternative</p>
                        <p><b>/report "message"</b> - Sends a message to Staff Only. "message" - IMPORTANT information to include to let Staff know what the issue is.</p>
                        
                    </div>
                </div>
            </div>
            <div class='tablet-footer'>
                <div class='line' v-on:click='switchPage("main")'></div>
            </div>
        </div>
    </div>

    <script src='https://unpkg.com/vue@2.6.14'></script>
    <script src='index.js'></script>
</body>
</html>